[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"

[dev-packages]
pylint = "*"
pre-commit = "*"

[scripts]
lint = "pylint --rcfile=.pylintrc src"
type-check = "echo 'Running typechecker...'"

[requires]
python_version = "3.10.12"
